@CHARSET "UTF-8";


h1{
	font-size:20px;
	color:blue;
	text-align:center;
}

.tail_text{
	position: absolute; 
	top:3px;
	left:45%;
	font-size:11px;
}

#index_about_panel{
	font-size:20px;
}
#index_repair_panel{
    font-size:20px;
}